In [6]:
import pandas as pd

df = pd.read_json('data.json', lines=True)

In [7]:
df.head()

,en,uk
0,A young man participates in a career while the...,"Молодий чоловік бере участь у кар'єрі, а суб'є..."
1,The man is scratching the back of his neck whi...,"Чоловік чухає потилицю, шукаючи книгу в книжко..."
2,A person wearing goggles and a hat is sled rid...,Людина в окулярах та капелюсі катається на санях.
3,A girl in a pink coat and flowered goloshes sl...,Дівчина в рожевому пальті та квітчастих калоша...
4,Three girls are standing in front of a window ...,Три дівчини стоять перед вікном будівлі.